.ContentsModule {
    .dataview-demo {
        .p-dropdown {
            width      : 14rem;
            font-weight: normal;
        }

        .content-name {
            font-size  : 1.5rem;
            font-weight: 700;
        }

        .content-description {
            margin            : 5px 1rem 1rem 0;
            overflow          : hidden;
            text-overflow     : ellipsis;
            display           : -webkit-box;
            line-height       : 16px;
            max-height        : 32px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .content-certificate {
            font-weight   : lighter;
            vertical-align: middle;
            text-transform: capitalize;
            color         : var(--vrna-secondary);
        }

        .content-year {
            font-weight   : lighter;
            vertical-align: middle;
            color         : var(--vrna-secondary);
        }

        .content-list-item {
            display         : flex;
            padding         : 1rem;
            width           : 100%;
            border          : 1px solid var(--bg-color);
            background-color: var(--bg-color);
            color           : #ffffff;
            border-radius   : 5px;

            img {
                width       : 150px;
                box-shadow  : 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                margin-right: 2rem;
            }

            .content-list-detail {
                flex: 1 1 0;
            }

            .p-rating {
                margin: 0 0 .5rem 0;
            }

            .content-list-action {
                display       : flex;
                flex-direction: column;
            }

            .p-button {
                margin-bottom: .5rem;
            }

            .summary_item {

                th {
                    padding       : 5px;
                    text-align    : left;
                    vertical-align: top;
                }

                td {
                    color     : var(--vrna-primary);
                    text-align: left;
                    padding   : 5px;

                    span:not(:empty):not(:last-child):after {
                        content: ", ";
                    }
                }
            }
        }

        .content-grid-item {
            margin          : .5em;
            border          : 1px solid var(--bg-color);
            background-color: var(--bg-color);
            color           : #ffffff;
            border-radius   : 5px;

            .content-grid-item-top {
                display        : flex;
                align-items    : center;
                justify-content: space-between;
            }

            img {
                width        : 85%;
                margin       : 2rem 0;
                border-radius: 5px;
            }

            .content-grid-item-content {
                text-align: center;
            }

            .summary_item {

                th {
                    padding       : 5px;
                    text-align    : right;
                    vertical-align: top;
                }

                td {
                    color     : var(--vrna-primary);
                    text-align: left;
                    padding   : 5px;

                    span:not(:empty):not(:last-child):after {
                        content: ", ";
                    }
                }
            }
        }

        @media screen and (max-width: 576px) {
            .content-list-item {
                flex-direction: column;
                align-items   : center;

                img {
                    width : 75%;
                    margin: 2rem 0;
                }

                .content-list-detail {
                    text-align: center;
                }

                .content-price {
                    align-self: center;
                }

                .content-list-action {
                    display       : flex;
                    flex-direction: column;
                }

                .content-list-action {
                    margin-top     : 2rem;
                    flex-direction : row;
                    justify-content: space-between;
                    align-items    : center;
                    width          : 100%;
                }
            }
        }
    }

}